# Ignore client temp and cache and config files
client/bin/
client/tmp/
client/config.properties

# Ignore server temp and cache files
server/node_modules
server/.tmp
server/app/bower_components
server/config.json
