<html>
<head>
	<script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
	<script type="text/javascript">
		/**
		 * Convert a timestamp to the format "m/d/yy h:MM:ss TT"
		 * @type {Date}
		 * Based on gist at https://gist.github.com/hurjas/2660489
		 */
		function formatTime(timestamp) {
			var dateObj = new Date(timestamp);
			var date = [ dateObj.getMonth() + 1, dateObj.getDate(), dateObj.getFullYear() ];
			var time = [ dateObj.getHours(), dateObj.getMinutes(), dateObj.getSeconds() ];
			var suffix = ( time[0] < 12 ) ? "AM" : "PM";
			time[0] = ( time[0] < 12 ) ? time[0] : time[0] - 12;
			time[0] = time[0] || 12;
			// If seconds and minutes are less than 10, add a zero
			for ( var i = 1; i < 3; i++ ) {
				if ( time[i] < 10 ) {
			    	time[i] = "0" + time[i];
			    }
			}
			return date.join("/") + " " + time.join(":") + " " + suffix;
		}

		// The images from the backend, inserted via Node templating.
		var images = <%-JSON.stringify(images)%>;

		// Initial parse of images array, to format timestamps once (rather than every time we show them)
		for (var i = 0; i < images.length; i++) {
			var timestamp = images[i].timestamp;
			images[i].formattedTime = formatTime(parseInt(timestamp));
		}

		$(document).ready(function() {
			// Setup framerate slider and map to var 'framerate'
			var framerate = $("#framerate").val();
			$("#framerate_display").val(framerate);
			$("#framerate").change(function() {
				framerate = $("#framerate").val();
				$("#framerate_display").val(framerate);
			})
			var i = 0;

			// Using the image URLs from backend, render an animation of the images, using variable framerate from user.
			if (images.length > 0) { // no sense in doing anything if we have no images
				var nextFrame = function() {
					if (i >= images.length) { i = 0; }
					$("#sprite img").attr("src", images[i].imgurLink);
					$("#timestamp").html(images[i].formattedTime);
					i++;
					window.setTimeout(nextFrame, Math.floor(1000 / framerate));
				};
				// Get the animation going.
				// default = 5 frames per second = 200 ms interval
				window.setTimeout(nextFrame, Math.floor(1000 / framerate)); 
			}
		});
	</script>
</head>
<body>
	<div id="sprite"><img src="" width="300" /></div>
	<div id="timestamp"></div>
	<div id="controls">
		<label for="slider">Framerate:</label>
		<input id="framerate" type="range" min="1" max="10" value="5" />
		<input id="framerate_display" disabled="disabled" type="text" size="2" style="text-align: center;" />
	</div>
</body>
</html>